{% extends "base.html" -%}
{% block content -%}
<script>
    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
                <img src="/static/images/Venn_white.png" style="max-height:300px;padding-bottom:4em;">
            <br/>
            {% if current_user.is_authenticated() %}
                <h3>Welcome, {{ current_user.data.username }}.</h3>
                <a href="/quiz" class="btn btn-primary btn-lg">Start Playing</a>
                <a href="/me" class="btn btn-success btn-lg">View My List</a>
                <a href="/logout" class="btn btn-warning btn-lg">Not You?</a>
            {% else %}
                <a href="#about" class="btn btn-default btn-lg">Find Out More</a>
                <a href="/login" class="btn btn-primary btn-lg">Sign Up Now</a>
            {% endif %}
        </div>
    </header>

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Bringing people together.</h2>
                    <p>Venn connects people through the power of human computation. We provide the quirky personality questions. You provide the answers. Your friends compare quiz results to match you with other rad people. And you return the favor. </p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="services" class="services bg-danger">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>Our Goal</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-5x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-magic fa-stack-1x text-danger"></i>
                            </span>
                                <h4>
                                    <strong>Bridge Social Circles</strong>
                                </h4>
                                <p>Bring separate social groups together. Make and introduce mutual friends.</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-5x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-compass fa-stack-1x text-danger"></i>
                            </span>
                                <h4>
                                    <strong>Create Meaningful Connections</strong>
                                </h4>
                                <p>Find people with shared passions, interests, and viewpoints. Venn gives you suggestions on not only who to meet, but how to meet them.</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-5x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-heart fa-stack-1x text-danger"></i>
                            </span>
                                <h4>
                                    <strong>Personalize the Process</strong>
                                </h4>
                                <p>Stay updated on your suggested matches to see if they’re successful. Bringing people together is a reward all on its own.</p>
                            </div>
                        </div>
                        <button href="/register" class="btn btn-block btn-lg btn-danger" onclick="window.location.href='/register';">Sign me up</button>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>Venn: Crowdsourcing Final Project</strong></h4>
                    <p class="text-muted">Tiff Lu, Morgan Snyder, Boyang Niu Fall 2014©</p>
                    <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true" style="padding-left:7.5em;"></div>
                </div>
            </div>
        </div>
    </footer>

    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    </script>
{%- endblock content %}