{% extends "base.html" %}
{% block content %}
<script>
    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<section id="login">
    <div class="container">
        {% if form.username.errors or form.password.errors %}
            <div class="row bg-warning text-center" id="alert">Looks like there were problems in your login information.
                We can't sign in you in at the moment, please try again later.</div>
        {% endif %}
        <div class="row">
            <div class="col-xs-12">
                <div class="form-wrap">
                <h1>
                    {% if type %}
                    Sign up for a new account
                    {% else %}
                    Log in with your email account
                    {% endif %}
                </h1>
                    <form role="form" method="post" id="login-form" autocomplete="off">
                        <div class="form-group">
                            <label for="email" class="sr-only">Email</label>
                            <input type="email" name="username" id="email" class="form-control" placeholder="somebody@example.com">
                        </div>
                        <div class="form-group">
                            <label for="key" class="sr-only">Password</label>
                            <input type="password" name="password" id="key" class="form-control" placeholder="Password">
                        </div>
                        <div class="checkbox">
                            <span class="character-checkbox" onclick="showPassword()"></span>
                            <span class="label">Show password</span>
                        </div>
                    {% if type %}
                        <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Register">
                    </form>
                    <a class="btn btn-block btn-social btn-facebook" id="fb-login">
                        <i class="fa fa-facebook"></i>
                        Sign up with Facebook
                    </a>
                    {% else %}
                        <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Log in">
                    </form>
                    <a class="btn btn-block btn-social btn-facebook" id="fb-login">
                        <i class="fa fa-facebook"></i>
                        Log in with Facebook
                    </a>
                    <a href="/register" class="btn btn-info btn-block" data-toggle="modal">Register for a new account</a>
                    {% endif %}
                    <hr>
                </div>
            </div> <!-- /.col-xs-12 -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</section>
{% endblock %}