{% extends "base.html" -%}
{% block content %}
<title>Your Suggestions</title>
<div class="container bg-success col-sm-8" style="text-align:center;">
    <h2>Your Suggestions</h2>
    <table class="table borderless">
        <tr>
            <th>Name</th>
            <th>Profile Score</th>
            <th>User Score</th>
            <th>Total Score</th>
        </tr>
        {% for s in suggestions %}
        <tr>
            <td>{{ s.name }}</td>
            {% if s.profile_rating %}
            <td>{{ s.profile_rating|round(2) }}</td>
            {% else %}
            <td>Not available</td>
            {% endif %}
            {% if s.user_rating %}
            <td>{{ s.user_rating|round(2) }}</td>
            {% else %}
            <td>Not available</td>
            {% endif %}
            <td>{{ s.total_rating|int }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
<div class="container bg-info col-sm-4">
<a href="/" class="btn btn-primary btn-lg btn-block">Back to Venn</a>
<a href="/quiz" class="btn btn-success btn-lg btn-block">Improve My Results</a>
{% endblock %}
